@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.same-row-submit{
    transform: translate(0, 12px);
}
.list-row:hover{
    background: #575757;
}
.pagination nav span.inline-flex, .pagination nav button.inline-flex
{
    background: transparent;
}
.pagination nav button.inline-flex{
    color: #9ca3af;
}
.pagination nav span.inline-flex{
    color: #2d3748;
}
